*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #6200ee;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

.main-only-header{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #6200ee;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.left-comp{
    display: flex;
    flex-direction: row;
}

.left-comp i{
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.left-comp i:hover{
    background-color: #731deb;
    border-radius: 50%;
    cursor: pointer;
}

.city-name{
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
    font-family:Roboto, sans-serif, serif;
}

.right-comp{
    display: flex;
    flex-direction: row;
}

.right-comp i{
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.right-comp i:hover{
    background-color: #731deb;
    border-radius: 50%;
    cursor: pointer;
}

.content-div{
    max-width: 650px;
    width: 100%;
    margin-top: 3.5rem;
    height: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

p{
    font-family: Roboto, sans-serif, serif;
    font-size: 1rem;
}